@model IEnumerable<WebApplication1.Models.hIngridient>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/hIngridients/Create.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IngridientName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Exist)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IngridientName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exist)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IngridientId }) |
            @Html.ActionLink("Details", "Details", new { id=item.IngridientId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IngridientId })
        </td>
    </tr>
}

</table>

<h2>TEST GIT!!!</h2>
